<div class="product-container d-flex justify-content-center">
    <div class="w-100 border p-4">
        <h1 class="text-center mb-5">Product</h1>
        <div class="d-flex flex-row bd-highlight justify-content-center mb-3">
            <div class="card mx-2" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Cake 1</h5>
                  <p>150 <span class="text-primary">Bath</span></p>
                  <a routerLink="/cart"  class="btn btn-success">Buy</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/1639567/pexels-photo-1639567.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Cake 2</h5>
                  <p>100 <span class="text-primary">Bath</span></p>
                  <a routerLink="/cart"  class="btn btn-success">Buy</a>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/4110541/pexels-photo-4110541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Cookie</h5>
                  <p>75 <span class="text-primary">Bath</span></p>
                  <button routerLink="/cart" class="btn btn-success">Buy</button>
                </div>
            </div>
            <div class="card mx-2" style="width: 18rem;">
                <img src="https://images.pexels.com/photos/2396220/pexels-photo-2396220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Coffee</h5>
                  <p>60 <span class="text-primary">Bath</span></p>
                  <a routerLink="/cart" class="btn btn-success">Buy</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
